*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-size: 15px;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
}


.container{
   width:  100%;
}


.container video{
    width: 100%;
    opacity: 0.4;
}


.sidebar{
    position: absolute;
    /*left: -280px;*/
    transition: all 0.5s ease;
    animation: sidebar 2600ms;
    z-index: 1111;
}

@keyframes sidebar{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}
.sidebar ul{
    list-style: none;
    margin: 0px 0px;
    width: 160px;
    background-color: transparent;
    border-radius: 0px 20px 20px 0px;
    height: fit-content;
    overflow: hidden;
}
.sidebar ul li{
    padding:   18px 20px;
    border-bottom: 1px solid rgb(355, 355, 255, 0.1);
    border-radius: 0px 0px 20px 0px;
    transition: 0.5s;
}

.sidebar ul li:hover{
    transform: scale(105%);
    background-color: rgb(255, 255, 255, 0.1);
}


.sidebar ul i{
    width: 20px;
    height: 20px;
}


.sidebar ul li:nth-child(2){
    background-color: rgb(255, 255, 255, 0.1);

}

.sidebar ul li:nth-child(1){
    font-size:20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: initial;
    border: none;
    border-radius: 15px;
    transform: translateX(100%);
    animation: scroll 5s linear infinite;
}


@keyframes scroll {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.sidebar ul li:hover:nth-child(1){
    border-radius: 20px 20px 20px 20px;
    
}

.sidebar ul li:hover:nth-child(1){
    background-color: transparent;
}

.sidebar ul li a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
     
}

.media {
    display: flex;
    gap: 20px;
    color: grey;
    cursor: pointer;
    
}

.media i{
    transition: 0.5s;
}

.media i:hover{
    transform: scale(150%);
}



#check{
    display: none;
}


/*label #btn, label #cancel{
    position: absolute;
    font-size:20px;
    color: white;
    cursor: pointer;
    top: 35px;
}

label #cancel{
    left: 150px;
    z-index: 1111;
    transition: all 0.5s ease;
    opacity: 0;
 }

label #btn{
    position: fixed;
    transition: all 0.5s ease;
    opacity: 1;
}
 

 #check:checked ~ .sidebar{
    left: 0;
 }
 #check:checked ~ label #btn{
    opacity: 0;
 }

 #check:checked ~ label #cancel{
    opacity: 1;
    transition: all 0.5s ease;
 }

 */
 


 .video{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    
 }

 @media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
        
    }
 }
 @media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
       
    }
 }



.label{
    position: absolute;
    left:1185px;
    
}

.label input{
    margin: 15px 0px;
}

.label input{
    padding: 15px 0px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.1);
    transition: 0.9s;
}


 .label input:hover{
    transform: scale(110%);
    z-index: 1111;
    color: white;
    background-color: black;
 }

 .label{
    text-align: center;
 }

 .btn button{
    padding: 15px 10px;
    border-radius: 10px;
    border-color: gray;
    background: rgb(255, 255, 255, 0.1);
    transition: 0.9s;
    color: grey;
    cursor: pointer;
 }
 .btn button:hover{
    transform: scale(120%);
    background-color: black;
 }

 .btn{
    animation: scrol 2600ms;
 }

 @keyframes scrol {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
 }

 /*content*/


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.swiper{
    width: 990px;
    height: 420px;
    border-radius: 40px;
}

.swiper{
    animation: poster 2600ms;
}

@keyframes poster{
    0%{
        transform: translateY(-250%);
    }
    100%{
        transform: translateY(0);
    }
}

.swiper-slide img{
    width: 100%;
    height:100%;
    cursor: pointer;
}



.swiper-wrapper h1{
    color: white;
    position:absolute;
    top: 370px;
    left: 380px;
    font-size: 20px;
    font-weight: 100;
}


.swiper .swiper-button-prev, .swiper  .swiper-button-next {
    color: #fff;
    
}

.swiper-pagination{
    
    height: 70px;
}

.swiper .swiper-pagination-bullet-active{
    background-color: #fff;
}

.input{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.input{
    animation: input 2600ms;
}

@keyframes input{
    0%{
        transform: translateX(250%);
    }
    100%{
        transform: translateX(0);
    }
}

.input i{
    position: relative;
    top: 10px;
    right: 25px;
    color: gray;
    transition: 0.9s;
    width: 100%;
}

.input:hover i{
    transform: translateX(50px)
}


#search{
    width: 800px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.9s ease;
    color: white;
}

#search:hover{
     transform: scale(120%);
     background-color: black;
     color: white;
}



.baner{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    margin: 20px 0px;
    animation: baner 2600ms;
}

@keyframes baner{
    0%{
        transform: translateY(300%);
    }
    100%{
        transform: translateY(0%);
    }
}



.baner h1{
    /*background-color: rgb(255, 255, 255, 0.3);*/
    background-color: #03e9f4;
    padding: 25px 100px;
    border-radius: 10px;
    animation-name: circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}




@keyframes circle {
    0%{
       opacity: 30%;
    }
    50%{
       opacity: 100%;
    }
    100%{
       opacity: 30%;
    }
}



.baner h1{
    position: relative;
    display: inline-block;
    padding: 30px 100px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .baner h1 span {
    position: absolute;
    display: block;
  }
  
  .baner h1 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0eeb21);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
   
     
    100% {
      left: 100%;
    }
  }
  
  .baner h1 span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .baner h1 span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .baner h1 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }