*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-size: 15px;
    font-family: sans-serif;
     width: 100%;
}

body{
    background-image: url(images/vecteezy_square-polygon-3d-particle-background-loop-animation_3662961.mp4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container{
   width:  100%;
}
.container video{
    width: 100%;
    opacity: 0.4;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
}


.sidebar{
    position: absolute;
    padding:  10px 0px;
    left: -280px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar ul{
    list-style: none;
    width: 160px;
    background-color: transparent;
    border-radius: 0px 20px 20px 0px;
    height: fit-content;
    overflow: hidden;
    
}
.sidebar ul li{
    padding: 18px 20px;
    border-bottom: 1px solid rgb(355, 355, 255, 0.1);
    border-radius: 0px 0px 20px 0px;
    transition: 0.5s;
}

.sidebar ul li:hover{
    transform: scale(105%);
}


.sidebar ul i{
    width: 20px;
    height: 20px;
}


.sidebar ul li:nth-child(3){
    background-color: rgb(255, 255, 255, 0.1);
    
}

.sidebar ul li:nth-child(1){
    font-size:20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: initial;
    border: none;
    transform: translateX(100%);
    animation: scroll 5s linear infinite;
}


@keyframes scroll {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.sidebar ul li:hover:nth-child(1){
    background-color: transparent;
}

.sidebar ul li:hover{
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 0px 20px 20px 0px;
}

.sidebar ul li a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
     
}

.media {
    display: flex;
    gap: 10px;
    color: grey;
    cursor: pointer;
    
}

.media i{
    transition: 0.5s;
}

.media i:hover{
    transform: scale(150%);
}



#check{
    display: none;
}


label #btn, label #cancel{
    position: absolute;
    font-size:20px;
    color: white;
    cursor: pointer;
    top: 35px;
}

label #cancel{
    left: 150px;
    z-index: 1111;
    transition: all 0.5s ease;
    opacity: 0;
 }

label #btn{
    transition: all 0.5s ease;
    opacity: 1;
}
 

 #check:checked ~ .sidebar{
    left: 0;
 }
 #check:checked ~ label #btn{
    opacity: 0;
 }

 #check:checked ~ label #cancel{
    opacity: 1;
    transition: all 0.5s ease;
 }

 
 .video{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    
 }

 .back{
    opacity: 0.4;
}


 @media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
        
    }
 }
 @media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
       
    }
 }

 
 .search-bar{
    display: flex;
    justify-content: end;
    padding: 5px 20px;
    
 }

 .search-bar i{
    color: white;
    position: absolute;
    top:23px;
    right: 35px;
    cursor: pointer;
 }

 .search-bar input{
    transition: 0.5s;
 }
 .search-bar input:hover{
    transform: scale(110%);
    z-index: 1111;
    color: white;
    background-color: black;
 }

 #search{
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    border-color: white;
 }

 .container input::placeholder{
    color: rgb(253, 246, 246);
 }

 input[type="text"]{
    padding: 0 15px;
    color: white;
    width: 350px;
} 




/*content*/


.content{
    margin: 0px 0px;
 }


 .poster{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
 }

 
.poster img{
    width: 100%;
    height: 295px;
    padding: 1px 35px;
    cursor: pointer;
    transition: 0.5s;

}

.poster img:hover{
    opacity: 0.4;
    transform: scale(90%);

}


 
.poster h1{
    position: absolute;
    top: 290px;
    right: 50px;
    font-size: 15px;
    color: white;
    font-weight: 100;
    opacity:  1;
    transition: 0.5s;
}


.text1, .text2 {
    animation:text 2600ms;
}

@keyframes text{
    0%{
        transform: translatex(-250%);
    }
    100%{
        transform: translateX(0);
    }
}

.text3 {
    animation: tex 2600ms;
}

@keyframes tex{
    0%{
        transform: translateY(-250%);
    }
    100%{
        transform: translateY(0);
    }
}



.text4, .text9 {
    animation: poster 2600ms;
}

@keyframes poster{
    0%{
        transform: translateX(250%);
    }
    100%{
        transform: translateX(0);
    }
}


.text5, .text6 {
    animation:text 2600ms;
}

@keyframes text{
    0%{
        transform: translatex(-250%);
    }
    100%{
        transform: translateX(0);
    }
}
.text7 {
    animation: te 2600ms;
}
@keyframes te{
    0%{
        transform: translateY(250%);
    }
    100%{
        transform: translateY(0);
    }
}

.text8, .text10 {
    animation:txt 2600ms;
}

@keyframes txt{
    0%{
        transform: translatex(250%);
    }
    100%{
        transform: translateX(0);
    }
}




.text1{
    width: 200px;
}
.text2{
    width: 200px;
}
.text3{
    width: 200px;
}
.text4{
    width: 200px;
}
.text5{
    width: 200px;
}
.text6{
    width: 200px;
}
.text7{
    width: 200px;
}
.text8{
    width: 200px;
}
.text9{
    width: 200px;
}
.text10{
    width: 200px;
}
.text11{
    width: 200px;
}
.text12{
    width: 200px;
}
.text13{
    width: 200px;
}
.text14{
    width: 200px;
}
.text15{
    width: 200px;
}
.text16{
    width: 200px;
}
.text17{
    width: 200px;
}
.text18{
    width: 200px;
}
.text19{
    width: 200px;
}
.text20{
    width: 200px;
}

.text1 h1{
    position: absolute;
    right:1080px;
    top: 330px;
    font-size: 15px;
    opacity:0;
}

.text1:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text2 h1{
    position: absolute;
    right:925px;
    top: 330px;
    opacity:0;
}

.text2:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text3 h1{
    position: absolute;
    top: 330px;
    right:685px;
    opacity:0;
}

.text3:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text4 h1{
    position: absolute;
    right:440px;
    top: 330px;
    opacity:0;
}

.text4:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text5 h1{
    position: absolute;
    top: 630px;
    right:1050px;
    opacity:0;
}

.text5:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text6 h1{
    position: absolute;
    top: 630px;
    right:910px;
    opacity:0;
}

.text6:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);    
}

.text7 h1{
    position: absolute;
    top: 630px;
    right:625px;
    opacity:0;
}

.text7:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text8 h1{
    position: absolute;
    top: 630px;
    right:410px;
    opacity:0;
}

.text8:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text9 h1{
    position: absolute;
    top: 330px;
    right:185px;
    opacity:0;
}

.text9:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text10 h1{
    position: absolute;
    top: 630px;
    right:230px;
    opacity:0;
}

.text10:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}

.text11 h1{
    position: absolute;
    top: 930px;
    right:1120px;
    opacity:0;
}
.text11:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text12 h1{
    position: absolute;
    top: 930px;
    right:850px;
    opacity:0;
}
.text12:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text13 h1{
    position: absolute;
    top: 930px;
    right:685px;
    opacity:0;
}
.text13:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text14 h1{
    position: absolute;
    top: 930px;
    right:390px;
    opacity:0;
}
.text14:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text15 h1{
    position: absolute;
    top: 930px;
    right:215px;
    opacity:0;
}
.text15:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text16 h1{
    position: absolute;
    top: 1235px;
    right:1115px;
    opacity:0;
}
.text16:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text17 h1{
    position: absolute;
    top: 1235px;
    right:905px;
    opacity:0;
}
.text17:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text18 h1{
    position: absolute;
    top: 1235px;
    right:625px;
    opacity:0;
}
.text18:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text19 h1{
    position: absolute;
    top: 1235px;
    right:375px;
    opacity:0;
}
.text19:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}
.text20 h1{
    position: absolute;
    top: 1235px;
    right:245px;
    opacity:0;
}
.text20:hover h1{
    position: absolute;
    opacity:1;
    transform: scale(130%);
}


.pages{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
}
.pages button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(15, 15, 15);
    border-color: white;
    transition: 0.5s;
}

.pages button:nth-child(1){
    background-color: white;
}
.pages button:nth-child(1) a{
    color:black ;
}

.pages button:hover{
    transform: scale(130%);
    background-color: white;

}
.pages button:hover a{
    color: black;
}

.pages button a{
    color: white;
    text-decoration: none;
}

.pages button a:hover{
    color: black;
    
}